body{
    background-color: black ;
}

#TitoloP{
    margin-top: 25px;
    text-align: center;
    font-size: 53px;
    color:ghostwhite;
    font-family: "Bebas Neue";
    margin-bottom: 35px;
    text-shadow: 0px 0px 15px white;
    border-style: dotted;
    padding: 4px;
    border-radius: 10px;
}

#p1{
    text-align: center;
    color:white;
    font-size: 25px;
    font-family: "Bebas Neue";
    margin-left: 21px;
    margin-right: 21px;
}

#p2{
    text-align: left;
     color:white;
    font-size: 25px;
    font-family: "Bebas Neue";
    margin-left: 21px;
    margin-right: 21px;
}

#idg{
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

#idg:visited{
    color:white;
}

#idg:hover{
    text-shadow: 0px 0px 7px red;
    color:tomato
}

#ti{
    text-align: center;
    color:white;
    font-size: 34px;
    font-family: "Bebas Neue";
    margin-left: 21px;
    margin-right: 21px;
}

#f1{
    border-radius: 50px;
}

